<!doctype html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Phaser Examples</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="lib/jquery-2.0.3.min.js" type="text/javascript"></script>
    <script src="lib/pixi.js" type="text/javascript"></script>
    <script src="lib/phaser-arcade-physics.js" type="text/javascript"></script>
    <script src="socket.io/socket.io.js" type="text/javascript"></script>
    <script src="src/peer.js" type="text/javascript"></script>
    <script src="lib/functions.js" type="text/javascript"></script>
    <script src="src/game-state.js" type="text/javascript"></script>
    <script src="src/map.js" type="text/javascript"></script>
    <script src="src/tanks.js" type="text/javascript"></script>
    <script src="src/sector.js" type="text/javascript"></script>
    <script src="src/tanks.js" type="text/javascript"></script>
    <script src="src/mine.js" type="text/javascript"></script>
    <script src="src/game.js" type="text/javascript"></script>
</head>
<body style="margin:0;">
<div id="players"></div>
<div id="game"></div>


</body>
</html>